body{
	background-color:#b3ccff ;
	color:black;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin:0px;
}
.container{
	width:80%;
	color:white;
	margin: auto;
	overflow: hidden;
}
#main-header{
	background-color:coral;
	color: #fff;
}
#navbar{
	background-color:#333;
	color: #fff;
}
#navbar ul{
	padding: 0;
	list-style: none;
}
#navbar li{
	display: inline;
}
#navbar a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#showcase{
	background-image: url(Coral-reef.jpg);
	background-position:center right ;
	height: 300px;	
	margin-bottom:30px;
	text-align:center; 
}
#showcase h1{
	color:#fff;
	font-size:16px;
	line-height: 1.6em;
	padding-top: 30px;
}
#main{
	float:left;
	width: 70%;
	padding:0 30px;
	box-sizing: border-box;
}
#sidebar{
	float:left;
	width: 30%;
	padding:10px;
	background:#333;
	color: #fff;
	box-sizing: border-box;

}
#main-footer{
	background: #333;
	color:#fff;
	text-align:center;
	padding:20px;
	margin-top:40px; 
}
